---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword
  namespace: external-secrets
stringData:
  1password-credentials.json: op://Talos/1password/OP_CONNECT_JSON
  token: op://Talos/1password/OP_CONNECT_TOKEN
